@model IEnumerable<MvcPicashNetCore.Models.Collection>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CollectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmountCollection)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmountCollection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollectionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
